body{
    margin:0px;
    font-family: Helvetica, Arial, sans-serif;
}
.top-bar{
    background:rgb(29, 4, 53);
    height:85px;
    width:100%
}
.insta{
    width:8px;
    height:8px

}

.left-bar{
    width:50%;
    height:85px;
    float:left;
}
.logo{
    color:rgb(255, 255, 255);
    margin-left:100px;
    margin-top:40px;
}
.pre-logo{
    text-decoration: none;
    color:#fff
}
.right-bar{
    width:50%;
    height:85px;
    float:left;
}
.semi-container{
    background:black;
    width:100%;
    height:500px;

}
.left-container{
    width:50%;
    height:500px;
    float:left;
}
.right-container{
    width:50%;
    height:500px;
    float:left;
}
.p1{
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    margin-top:14%
}
.p2{
    color:azure;
    text-align:center;
    margin-top:6%
}
.mecha{
    margin-top: 10px;
    width:52%;
    height:60%;
    text-align:center;
}
.me1{
    color:#fff;
    text-align:center;
    font-size: 30px; 
    
}
.bottom{
    height:100px;
    width:100%;
    background:rgb(29, 4, 53);
    color:#fff;
    margin-top:-13px
}
.memb{
   margin-top:10px;
   margin-left:20px;
   
}
.ncerc{
    color:rgb(245, 233, 233);
    margin-top:40px;
}
.ncerc1{
    text-decoration: none;
}
.ncerc:hover{
    color:blueviolet
}
